<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
